@media (max-width: 767px) {
  .accounts {
    margin-top: 70px;
    margin-bottom: 70px;

    .stats-accordian {
      padding: 0 15px;
      display: block;

      .card,
      .card-header {
        background-color: $div-background-color !important;
      }
      .card-body {
        padding: 0.5rem 1.25rem 1.25rem !important;
      }
      .card {
        border: 1px solid $input-background-color !important;
        border-radius: 7px !important;
      }
      button {
        background-color: $div-background-color !important;
        color: $text-color-dark;
        padding: 8px 12px;
        text-align: left;
        position: relative;
        border: none !important;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
      .card-header {
        border: none;
        padding: 0;
        h2 {
          font-size: 20px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Ubuntu, "Helvetica Neue", sans-serif;
        }
        .nav-icon {
          fill: $text-color-dark;
          height: 2rem;
          position: absolute;
          right: 10px;
          top: 28% !important;
        }
      }
    }
    .stats {
      display: block;
      margin: auto;
      align-items: center;
      justify-content: center;
    }
    .customers-stats,
    .creditors-stats {
      background-color: $input-background-color;
      height: 5rem;
      border-radius: 10px;
      // width: 100%;
      margin: 0 2rem;
      .head {
        padding-top: 0.5rem;
        margin-top: 0 !important;
      }
    }
    .stats-seperator {
      height: 1rem;
    }
    .row {
      padding: 15px 15px 60px;
    }
    .tab-content {
      display: none;
    }
  }

  .side-content {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .accounts {
    margin-top: 70px;
    .stats {
      display: flex;
      // align-items: center;
      justify-content: center;
      min-height: 250px;
    }
    .customers-stats,
    .creditors-stats,
    .customer,
    .creditor {
      // background-color: $input-background-color;
      height: 5rem;
      border-radius: 10px;
      width: 40%;
    }
    .stats-seperator {
      width: 10%;
    }
  }
  .side-content {
    .active {
      padding: 10px 15px;
    }
  }
}
@media (max-width: 767px) {
  .ledger {
    display: block !important;
    .cr,
    .dr {
      width: 100% !important;
    }
    .dr {
      border-bottom: 1px solid $input-background-color;
    }
  }
  .cash-book,
  .trial-balance {
    .caption {
      font-size: 18px;
      font-weight: 800;
      text-align: left !important;
      padding: 0 0 0 10px;
      position: relative;
      .net {
        right: 5px;
        top: 0;
        font-size: 100%;
        position: absolute;
      }
    }
  }
}
@media (min-width: 768px) {
  .ledger {
    .t-date {
      width: 35%;
      text-transform: capitalize;
    }
    .t-par {
      width: 40%;
      text-transform: capitalize;
      font-weight: 600;
      span {
        font-weight: 400;
        text-transform: none;
      }
    }
    .t-amt {
      width: 25%;
      text-transform: capitalize;
    }
    tbody {
      display: block !important;
      height: 200px !important;
      overflow: auto !important;
      width: 100% !important;
    }
    thead,
    tbody tr {
      display: table !important;
      width: 100% !important;
      table-layout: fixed !important;
    }
    thead {
      width: calc(100%) !important;
    }
    table {
      width: 100% !important;
    }
  }
}

.accounts {
  .side-nav-col {
    .nav-heading {
      font-size: 19px;
      font-weight: 700;
      padding: 10px 10px;
    }
  }
  .side-content,
  .card-body {
    .msg {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
        "Helvetica Neue", sans-serif !important;
      font-size: 16px;
      color: $text-dim-color-dark;
    }

    .accounts-new-content {
      .heading {
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
  .submit-button {
    margin-top: 30px;
    width: 100%;
  }
}

.accounts {
  .stats-accordian {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
      "Helvetica Neue", sans-serif !important;
    .body {
      max-height: 200px;
      overflow-y: auto;
      .card-body {
        padding-top: 0.5rem;
        .data {
          display: flex;
          margin-bottom: 15px;
          &:last-of-type {
            margin-bottom: 0px;
          }
          .user-icon {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            margin-right: 20px;
          }
          .user-stats {
            .name {
              text-transform: capitalize;
              display: block;
              font-size: 16px;
              color: $text-dim-color-dark;
              font-weight: 600;
            }
            .due {
              margin-top: 3px;
            }
          }
        }
      }
    }
    .card,
    .card-header {
      background-color: $div-background-color;
    }
    .card {
      border: 1px solid $input-background-color;
      border-radius: 7px;
    }
    button {
      color: $text-color-dark;
      padding: 8px 12px;
      text-align: left;
      // border-bottom: 1px solid $input-background-color;
      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
    .card-header {
      border: none;
      padding: 0;
      h2 {
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Ubuntu, "Helvetica Neue", sans-serif;
      }
      .nav-icon {
        fill: $text-color-dark;
        height: 1.5rem;
        position: absolute;
        right: 10px;
        top: 0.8rem;
      }
    }
  }

  .customers-stats,
  .creditors-stats {
    text-align: center;
    position: relative;
    a {
      color: $text-color-dark;
    }

    .head {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .amount {
      margin-top: 0.8rem;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }
  .customers-stats {
    background-color: $collection;
  }
  .creditors-stats {
    background-color: $payment;
  }

  .cash-book,
  .trial-balance {
    margin: 0 15px;
    // border-radius: 7px;

    .caption {
      font-size: 18px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 5px;
      position: relative;
      .net {
        right: 5px;
        top: 0;
        font-size: 100%;
        position: absolute;
      }
    }

    .ledger {
      // padding: 5px;
      display: flex;
      border: 1px solid $input-background-color;
    }
    margin-top: 1.5rem;
    .cr,
    .dr {
      width: 50%;
    }
    .table-content {
      max-height: 300px;
      overflow-y: auto;
      ::-webkit-scrollbar {
        display: none;
      }
    }
    table {
      // border-radius: 7px;
      // table-layout: fixed;
      margin-top: 0;
      margin-bottom: 0;
      background-color: $body-background-color;
      // .t-head {

      // }
      tr {
        background-color: $body-background-color;
      }
      .t-header {
        background-color: $div-background-color;
        font-size: 16px;
      }
      .t-date {
        text-align: left;
        text-transform: capitalize;
      }
      .t-par {
        text-align: left;
        text-transform: capitalize;
        font-weight: 600;
        span {
          font-weight: 400;
          text-transform: none;
        }
      }
      .t-amt {
        text-align: left;
        text-transform: capitalize;
      }
    }
  }
}
