.dr-nav {
  position: fixed;
  font-size: 19px;
  .dr-nav-brand {
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    .dr-nav-brand-img {
      height: 40px;
      width: 40px;
    }
    &:hover {
      background-color: $menu-hover-color;
    }
  }
  .dr-nav-menu {
    ul {
      li {
        display: flex;
        list-style: none;
        a {
          color: $text-color-dark;
          margin: 6px 0;
          border-radius: 25px;
          font-weight: 700;
          &:hover {
            text-decoration: none;
          }

          .menu-text {
            text-transform: capitalize;
            margin-right: 8px;
          }
          .menu-option {
            width: max-content;

            padding: 8px 12px 8px 12px;
            border-radius: 25px;
            display: flex;
            align-items: center;
            .dr-nav-menu-icon {
              fill: $text-color-dark;
              margin-right: 10px;
              height: 25px;
              width: 25px;
            }
            i {
              display: flex;
              align-items: center;
            }
            .cart {
              background-image: url("../assets/images/cart.svg");
              background-size: 25px 25px;
            }
            .more {
              background-image: url("../assets/images/more.png");
              background-size: 25px 25px;
            }
            &:hover {
              background-color: $menu-hover-color;
              color: $hover-color;
              .dr-nav-menu-icon {
                fill: $hover-color;
                color: $hover-color;
              }
              .cart {
                background-image: url("../assets/images/cartHover.svg");
              }
              .more {
                background-image: url("../assets/images/more-hover.png");
              }
            }
          }
          .activeNav {
            .menu-text {
              color: $hover-color;
            }
            .dr-nav-menu-icon {
              fill: $hover-color;
              color: $hover-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .dr-nav {
    margin-left: 30px;
    .menu-text {
      display: none;
    }
    .dr-nav-menu {
      margin-left: 10px;
      .menu-option {
        padding: 10px !important;
        border-radius: 50% !important;
        .dr-nav-menu-icon {
          margin-right: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .dr-nav {
    display: none;
  }
}
